.container {
    display: flex;
    height: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white; 
    }
    .container img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    }